<h1>INICIA SESION</h1>

<form action="/api/sessions/login" method="post">
    <label for="">Email
        <input type="text" name="email" id="">
    </label>
    <br>
    <label for="">Password
        <input type="password" name="password" id="">
    </label>
    <button>Login</button>
    <br>
    <a href="/register">Registrate</a>

    <a href="/api/sessions/github-login">iniciar sesion con github</a>
</form>