<h1>REGISTRA UN NUEVO USUARIO</h1>
<form action="/api/users" method="post">
    <label for="">Nombre
        <input type="text" name="first_name" id="">
    </label>
    <br>
    <label for="">Apellido
        <input type="text" name="last_name" id="">
    </label>
    <br>
    <label for="">Email
        <input type="text" name="email" id="">
    </label>
    <br>
    <label for="">Password
        <input type="password" name="password" id="">
    </label>
    <br>
    <button>Registrate</button>
</form>
<br>
<a href="/login">Inicia sesion</a>